.reviews_card_outher {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .reviews_card {
    border: 1px solid black;
    width: 248px;
    height: 304px;
    background: #fffdfd;
    border: 2px solid #1d3130;
    border-radius: 40px;
  }
  
  .reviews_title_outher {
    margin: 56px 0 40px 0;
  }
  
  .reviews_card_ellipse {
    margin: 30px 0 10px 0;
  }
  
  .reviews_card span {
    font-family: inherit;
    font-size: 14px;
    align-items: center;
    color: #3b7976;
  }
  
  .reviews_card_text {
    width: 216px;
    height: 104px;
    font-family: inherit;
    font-size: 14px;
    color: #061817;
    margin: 8px 0 16px 10px;
  }