* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                                                
    font-family: "Roboto", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
    background: #fcfcfc;
  }
   
  section {
    width: 1250px;
    margin: 0 auto;
    padding: 0;
  }